.category-border {
  border: 1px solid rgb(174, 161, 161);
  border-radius: 10%;
  width: 130px;
  height: 120px;
  padding: 0px 5px 0px 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.highlighted {
  background-color: rgb(144, 144, 127);
}

.category-container {
  height: 200px;
  overflow-y: auto;
}

.category-border {
  min-width: 130px;
}

/* Dot style for individual dots */
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Active dot style */
.dot.active {
  background-color: #007bff; /* Active dot color */
}

/* Flex container for the dots */
.dots-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between the dots */
  margin-top: 10px; /* Optional: space between product scroller and dots */
}

/* Flex item style for each dot */
.dots-container .dot {
  display: inline-block;
}

